.App-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #023047;
  height: auto;
  margin-bottom: 40px;
}
.App{
  width: 100%;
  background-color: #121113;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.App-content h1{
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 65px;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

